
@{
    ViewBag.Title = "register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>register</h2>

<a href="@Url.Action("compageload", "adminReg")" class="btn btn-primary">Company register</a>
<a href="@Url.Action("user_pageload", "userInsert")" class="btn btn-primary">User register</a>
